<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         convertDeprecationsToExceptions="true"
         failOnIncomplete="true"
         failOnRisky="true"
         failOnSkipped="true"
         failOnWarning="true"
         bootstrap="vendor/autoload.php"
>
  <testsuites>
    <testsuite name="Cellbrush test suite">
      <directory>./tests/src</directory>
    </testsuite>
  </testsuites>
</phpunit>
